django==1.11.17
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
drfdocs
django-allauth==0.36.0
django-rest-auth==0.9.3
django-crispy-forms==1.7.2
django-environ==0.4.4
django-cors-headers==2.2.0
python-decouple==3.1
ipython

# production dependencies
gunicorn==19.9.0
boto==2.49.0
boto3==1.7.58
django-storages==1.6.6
whitenoise==4.1
django-redis==4.9.0
django-heroku
psycopg2-binary==2.7.5